

$small: 367px;
$medium: 768px;
$xlarge: 1280px;

* {
  outline: solid 1px red;
  //outline-color: transparent;
}
  

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  overflow-x: hidden;
}
    
  
